{% extends 'base.html' %}

{% block content %}
  <body bgcolor="#FFC300"
  <h2>Welcome, {{ user.username }}!</h2>

  <p>LSA<br>
     ALSA<br>
     TLSA<br>
  </p>

<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>

<p><b>Note:</b> Raise a Request</p>

<table>
  <tr>
    <th>Under Progress<dialog open>Version 1.0.0</dialog></th>
  </tr>
  <tr>
    <td>31</td>
    <td>28</td>
    <td>31</td>
  </tr>
</table>



  <!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

  </body>
{% endblock %}
